body{
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:Corbel;
    font-size:100px;
}
.board{
    height:360px;
    width:360px;
    display:flex;
    box-sizing:border-box;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
}
.cell{
    width:120px;
    height:120px;
    display:flex;
    flex-basis:auto;
    align-items:center;
    justify-content:center;
    border:4px black solid;
    box-sizing:border-box;
}
.cell:nth-child(n+7){
    border-bottom:none;
}
.cell:nth-child(-n+3){
    border-top:none;
}
.cell:nth-child(3n+1){
    border-left:none;
}
.cell:nth-child(3n+3){
    border-right:none; 
}